# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [1]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc):
   
   wind   daily average wind speeds for 1961-1978 at 12 synoptic meteorological 
       stations in the Republic of Ireland (Haslett and raftery 1989).

These data were analyzed in detail in the following article:
   Haslett, J. and Raftery, A. E. (1989). Space-time Modelling with
   Long-memory Dependence: Assessing Ireland's Wind Power Resource
   (with Discussion). Applied Statistics 38, 1-50.

Each line corresponds to one day of data in the following format:
year, month, day, average wind speed at each of the stations in the order given
in Fig.4 of Haslett and Raftery : 
 RPT, VAL, ROS, KIL, SHA, BIR, DUB, CLA, MUL, CLO, BEL, MAL

Fortan format : ( i2, 2i3, 12f6.2) 

The data are in knots, not in m/s.

Permission granted for unlimited distribution.

Please report all anomalies to fraley@stat.washington.edu

Be aware that the dataset is 532494 bytes long (thats over half a
Megabyte).  Please be sure you want the data before you request it.

Again the first few rows of data (including the column headers) look like:

Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL

61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04

61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83

61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71

61  1  4 10.58  6.63 11.75  4.58  4.54  2.88  8.63  1.79  5.83  5.88  5.46 10.88

61  1  5 13.33 13.25 11.42  6.17 10.71  8.21 11.92  6.54 10.92 10.34 12.92 11.83

61  1  6 13.21  8.12  9.96  6.67  5.37  4.50 10.67  4.42  7.17  7.50  8.12 13.17

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import datetime

### Step 2. Import the dataset from this [address](https://github.com/guipsamora/pandas_exercises/blob/master/Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [3]:
# parse_dates gets 0, 1, 2 columns and parses them as the index
data = pd.read_table("/Users/markyashar/sf16_ids1/class_materials/pandas_exercises/06_Stats/Wind_Stats/wind.data", 
                     sep = "\s+", parse_dates = [[0,1,2]]) 

# Signature: pd.read_table(filepath_or_buffer, sep='\t', delimiter=None, header='infer', names=None, index_col=None, 
#                          usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, 
#                          converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, 
#                          skipfooter=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False,
#                          skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, 
#                          date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', 
#                          thousands=None, decimal='.', lineterminator=None, quotechar='"', quoting=0, escapechar=None, 
#                          comment=None, encoding=None, dialect=None, tupleize_cols=False, error_bad_lines=True, 
#                          warn_bad_lines=True, skip_footer=0, doublequote=True, delim_whitespace=False, as_recarray=False,
#                          compact_ints=False, use_unsigned=False, low_memory=True, buffer_lines=None, memory_map=False,
#                          float_precision=None)
# Docstring:
# Read general delimited file into DataFrame

# Also supports optionally iterating or breaking of the file
# into chunks.

# Additional help can be found in the `online docs for IO Tools
# <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

# parse_dates: Attempt to parse data to datetime; False by default. If True, will attempt to parse all columns.
# Otherwise can specify a list of column numbers or name to parse. If element of list is tuple or list, will combine
# multiple columns together and parse to date (for example if date/time split across two columns)

data.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [4]:
# The problem is that the dates are 2061 and so on...

# function that uses datetime
def fix_century(x):
  year = x.year - 100 if x.year > 1989 else x.year
  return datetime.date(year, x.month, x.day)

# apply the function fix_century on the column and replace the values to the right ones
data['Yr_Mo_Dy'] = data['Yr_Mo_Dy'].apply(fix_century)

# data.info()
data.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [5]:
# transform Yr_Mo_Dy it to date type datetime64
data["Yr_Mo_Dy"] = pd.to_datetime(data["Yr_Mo_Dy"])

# Signature: pd.to_datetime(*args, **kwargs)
# Docstring:
# Convert argument to datetime.

# Parameters
# ----------
# arg : string, datetime, list, tuple, 1-d array, or Series
# errors : {'ignore', 'raise', 'coerce'}, default 'raise'

#     - If 'raise', then invalid parsing will raise an exception
#     - If 'coerce', then invalid parsing will be set as NaT
#     - If 'ignore', then invalid parsing will return the input
# dayfirst : boolean, default False
#     Specify a date parse order if `arg` is str or its list-likes.
#     If True, parses dates with the day first, eg 10/11/12 is parsed as
#     2012-11-10.
#     Warning: dayfirst=True is not strict, but will prefer to parse
#     with day first (this is a known bug, based on dateutil behavior).
# yearfirst : boolean, default False
#     Specify a date parse order if `arg` is str or its list-likes.

#     - If True parses dates with the year first, eg 10/11/12 is parsed as
#       2010-11-12.
#     - If both dayfirst and yearfirst are True, yearfirst is preceded (same
#       as dateutil).

#     Warning: yearfirst=True is not strict, but will prefer to parse
#     with year first (this is a known bug, based on dateutil beahavior).


# utc : boolean, default None
#     Return UTC DatetimeIndex if True (converting any tz-aware
#     datetime.datetime objects as well).
# box : boolean, default True

#     - If True returns a DatetimeIndex
#     - If False returns ndarray of values.
# format : string, default None
#     strftime to parse time, eg "%d/%m/%Y", note that "%f" will parse
#     all the way up to nanoseconds.
# exact : boolean, True by default

#     - If True, require an exact format match.
#     - If False, allow the format to match anywhere in the target string.

# unit : unit of the arg (D,s,ms,us,ns) denote the unit in epoch
#     (e.g. a unix timestamp), which is an integer/float number.
# infer_datetime_format : boolean, default False
#     If no `format` is given, try to infer the format based on the first
#     datetime string. Provides a large speed-up in many cases.

# Returns
# -------
# ret : datetime if parsing succeeded.
#     Return type depends on input:

#     - list-like: DatetimeIndex
#     - Series: Series of datetime64 dtype
#     - scalar: Timestamp

#     In case when it is not possible to return designated types (e.g. when
#     any element of input is before Timestamp.min or after Timestamp.max)
#     return will have datetime.datetime type (or correspoding array/Series).

# Examples
# --------
# Take separate series and convert to datetime

# >>> import pandas as pd
# >>> i = pd.date_range('20000101',periods=100)
# >>> df = pd.DataFrame(dict(year = i.year, month = i.month, day = i.day))
# >>> pd.to_datetime(df.year*10000 + df.month*100 + df.day, format='%Y%m%d')
# 0    2000-01-01
# 1    2000-01-02
# ...
# 98   2000-04-08
# 99   2000-04-09
# Length: 100, dtype: datetime64[ns]

# Or from strings

# >>> df = df.astype(str)
# >>> pd.to_datetime(df.day + df.month + df.year, format="%d%m%Y")
# 0    2000-01-01
# 1    2000-01-02
# ...
# 98   2000-04-08
# 99   2000-04-09
# Length: 100, dtype: datetime64[ns]

# Date that does not meet timestamp limitations:

# >>> pd.to_datetime('13000101', format='%Y%m%d')
# datetime.datetime(1300, 1, 1, 0, 0)
# >>> pd.to_datetime('13000101', format='%Y%m%d', errors='coerce')
# NaT

# set 'Yr_Mo_Dy' as the index
data = data.set_index('Yr_Mo_Dy')

data.head()
# data.info()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [6]:
# "Number of (non-)missing values for each location: "
data.isnull().sum()

# Signature: data.isnull()
# Docstring:
# Return a boolean same-sized object indicating if the values are null.

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [17]:
# number of columns minus the number of missing values for each location
data.shape[1] - data.isnull().sum()

RPT      10
VAL      13
ROS      14
KIL      11
SHA      14
BIR      16
DUB      13
CLA      14
MUL      13
CLO      15
BEL      16
MAL      12
date     16
month    16
year     16
day      16
dtype: int64

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [18]:
# print 'Mean over all values is: '
data.mean().mean()

140.96586626591323

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [19]:
loc_stats = pd.DataFrame()

loc_stats['min'] = data.min() # min
loc_stats['max'] = data.max() # max 
loc_stats['mean'] = data.mean() # mean
loc_stats['std'] = data.std() # standard deviations

loc_stats

                       min                  max         mean       std
RPT                   0.67                 35.8    12.362987  5.618413
VAL                   0.21                33.37    10.644314  5.267356
ROS                    1.5                33.84    11.660526  5.008450
KIL                      0                28.46     6.306468  3.605811
SHA                   0.13                37.54    10.455834  4.936125
BIR                      0                26.16     7.092254  3.968683
DUB                      0                30.37     9.797343  4.977555
CLA                      0                31.08     8.495053  4.499449
MUL                      0                25.88     8.493590  4.166872
CLO                   0.04                28.21     8.707332  4.503954
BEL                   0.13                42.38    13.121007  5.835037
MAL                   0.67                42.54    15.599079  6.699794
date   1961-01-01 00:00:00  1978-12-31 00:00:00          NaN       NaN
month                    1                   12     6.523274  3.448871
year                  1961                 1978  1969.500304  5.188131
day                      1                   31    15.728628  8.800335

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [20]:
# create the dataframe
day_stats = pd.DataFrame()

# this time we determine axis equals to one so it gets each row.
day_stats['min'] = data.min(axis = 1) # min
day_stats['max'] = data.max(axis = 1) # max 
day_stats['mean'] = data.mean(axis = 1) # mean
day_stats['std'] = data.std(axis = 1) # standard deviations

day_stats.head()

            min     max        mean         std
Yr_Mo_Dy
1961-01-01  1.0  1961.0  150.442857  521.138056
1961-01-02  1.0  1961.0  149.192857  521.493581
1961-01-03  1.0  1961.0  149.504286  521.406085
1961-01-04  1.0  1961.0  136.362000  504.781236
1961-01-05  1.0  1961.0  139.637333  503.877109

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [21]:
print "January windspeeds:"

# creates a new column 'date' and gets the values from the index
data['date'] = data.index

# creates a column for each value from date
data['month'] = data['date'].apply(lambda date: date.month)
data['year'] = data['date'].apply(lambda date: date.year)
data['day'] = data['date'].apply(lambda date: date.day)

# gets all value from the month 1 and assign to janyary_winds
january_winds = data.query('month == 1')

# Signature: data.query(expr, inplace=False, **kwargs)
# Docstring:
# Query the columns of a frame with a boolean expression.


# Parameters
# ----------
# expr : string
#     The query string to evaluate.  You can refer to variables
#     in the environment by prefixing them with an '@' character like
#     ``@a + b``.
# inplace : bool
#     Whether the query should modify the data in place or return
#     a modified copy

# kwargs : dict
#     See the documentation for :func:`pandas.eval` for complete details
#     on the keyword arguments accepted by :meth:`DataFrame.query`.

# Returns
# -------
# q : DataFrame

# Notes
# -----
# The result of the evaluation of this expression is first passed to
# :attr:`DataFrame.loc` and if that fails because of a
# multidimensional key (e.g., a DataFrame) then the result will be passed
# to :meth:`DataFrame.__getitem__`.

# This method uses the top-level :func:`pandas.eval` function to
# evaluate the passed query.

# The :meth:`~pandas.DataFrame.query` method uses a slightly
# modified Python syntax by default. For example, the ``&`` and ``|``
# (bitwise) operators have the precedence of their boolean cousins,
# :keyword:`and` and :keyword:`or`. This *is* syntactically valid Python,
# however the semantics are different.

# You can change the semantics of the expression by passing the keyword
# argument ``parser='python'``. This enforces the same semantics as
# evaluation in Python space. Likewise, you can pass ``engine='python'``
# to evaluate an expression using Python itself as a backend. This is not
# recommended as it is inefficient compared to using ``numexpr`` as the
# engine.

# The :attr:`DataFrame.index` and
# :attr:`DataFrame.columns` attributes of the
# :class:`~pandas.DataFrame` instance are placed in the query namespace
# by default, which allows you to treat both the index and columns of the
# frame as a column in the frame.
# The identifier ``index`` is used for the frame index; you can also
# use the name of the index to identify it in a query.

# For further details and examples see the ``query`` documentation in
# :ref:`indexing <indexing.query>`.

# See Also
# --------
# pandas.eval
# DataFrame.eval

# Examples
# --------
# >>> from numpy.random import randn
# >>> from pandas import DataFrame
# >>> df = DataFrame(randn(10, 2), columns=list('ab'))
# >>> df.query('a > b')
# >>> df[df.a > df.b]  # same result as the previous expression


# gets the mean from january_winds, using .loc to not print the mean of month, year and day
january_winds.loc[:,'RPT':"MAL"].mean()

January windspeeds:

RPT    14.847325
VAL    12.914560
ROS    13.299624
KIL     7.199498
SHA    11.667734
BIR     8.054839
DUB    11.819355
CLA     9.512047
MUL     9.543208
CLO    10.053566
BEL    14.550520
MAL    18.028763
dtype: float64

### Step 12. Downsample the record to a yearly frequency for each location.

In [23]:
data.query('month == 1 and day == 1')

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,date,month,year,day
Yr_Mo_Dy,,,,,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01,1,1961,1
1962-01-01,9.29,3.42,11.54,3.50,2.21,1.96,10.41,2.79,3.54,5.17,4.38,7.92,1962-01-01,1,1962,1
1963-01-01,15.59,13.62,19.79,8.38,12.25,10.00,23.45,15.71,13.59,14.37,17.58,34.13,1963-01-01,1,1963,1
1964-01-01,25.80,22.13,18.21,13.25,21.29,14.79,14.12,19.58,13.25,16.75,28.96,21.00,1964-01-01,1,1964,1
1965-01-01,9.54,11.92,9.00,4.38,6.08,5.21,10.25,6.08,5.71,8.63,12.04,17.41,1965-01-01,1,1965,1
1966-01-01,22.04,21.50,17.08,12.75,22.17,15.59,21.79,18.12,16.66,17.83,28.33,23.79,1966-01-01,1,1966,1
1967-01-01,6.46,4.46,6.50,3.21,6.67,3.79,11.38,3.83,7.71,9.08,10.67,20.91,1967-01-01,1,1967,1
1968-01-01,30.04,17.88,16.25,16.25,21.79,12.54,18.16,16.62,18.75,17.62,22.25,27.29,1968-01-01,1,1968,1
1969-01-01,6.13,1.63,5.41,1.08,2.54,1.00,8.50,2.42,4.58,6.34,9.17,16.71,1969-01-01,1,1969,1
1970-01-01,9.59,2.96,11.79,3.42,6.13,4.08,9.00,4.46,7.29,3.50,7.33,13.00,1970-01-01,1,1970,1
1971-01-01,3.71,0.79,4.71,0.17,1.42,1.04,4.63,0.75,1.54,1.08,4.21,9.54,1971-01-01,1,1971,1
1972-01-01,9.29,3.63,14.54,4.25,6.75,4.42,13.00,5.33,10.04,8.54,8.71,19.17,1972-01-01,1,1972,1
1973-01-01,16.50,15.92,14.62,7.41,8.29,11.21,13.54,7.79,10.46,10.79,13.37,9.71,1973-01-01,1,1973,1
1974-01-01,23.21,16.54,16.08,9.75,15.83,11.46,9.54,13.54,13.83,16.66,17.21,25.29,1974-01-01,1,1974,1
1975-01-01,14.04,13.54,11.29,5.46,12.58,5.58,8.12,8.96,9.29,5.17,7.71,11.63,1975-01-01,1,1975,1
1976-01-01,18.34,17.67,14.83,8.00,16.62,10.13,13.17,9.04,13.13,5.75,11.38,14.96,1976-01-01,1,1976,1
1977-01-01,20.04,11.92,20.25,9.13,9.29,8.04,10.75,5.88,9.00,9.00,14.88,25.70,1977-01-01,1,1977,1
1978-01-01,8.33,7.12,7.71,3.54,8.50,7.50,14.71,10.00,11.83,10.00,15.09,20.46,1978-01-01,1,1978,1

### Step 13. Downsample the record to a monthly frequency for each location.

In [24]:
data.query('day == 1')

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,date,month,year,day
Yr_Mo_Dy,,,,,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01,1,1961,1
1961-02-01,14.25,15.12,9.04,5.88,12.08,7.17,10.17,3.63,6.50,5.50,9.17,8.00,1961-02-01,2,1961,1
1961-03-01,12.67,13.13,11.79,6.42,9.79,8.54,10.25,13.29,NaN,12.21,20.62,NaN,1961-03-01,3,1961,1
1961-04-01,8.38,6.34,8.33,6.75,9.33,9.54,11.67,8.21,11.21,6.46,11.96,7.17,1961-04-01,4,1961,1
1961-05-01,15.87,13.88,15.37,9.79,13.46,10.17,9.96,14.04,9.75,9.92,18.63,11.12,1961-05-01,5,1961,1
1961-06-01,15.92,9.59,12.04,8.79,11.54,6.04,9.75,8.29,9.33,10.34,10.67,12.12,1961-06-01,6,1961,1
1961-07-01,7.21,6.83,7.71,4.42,8.46,4.79,6.71,6.00,5.79,7.96,6.96,8.71,1961-07-01,7,1961,1
1961-08-01,9.59,5.09,5.54,4.63,8.29,5.25,4.21,5.25,5.37,5.41,8.38,9.08,1961-08-01,8,1961,1
1961-09-01,5.58,1.13,4.96,3.04,4.25,2.25,4.63,2.71,3.67,6.00,4.79,5.41,1961-09-01,9,1961,1
1961-10-01,14.25,12.87,7.87,8.00,13.00,7.75,5.83,9.00,7.08,5.29,11.79,4.04,1961-10-01,10,1961,1
1961-11-01,13.21,13.13,14.33,8.54,12.17,10.21,13.08,12.17,10.92,13.54,20.17,20.04,1961-11-01,11,1961,1
1961-12-01,9.67,7.75,8.00,3.96,6.00,2.75,7.25,2.50,5.58,5.58,7.79,11.17,1961-12-01,12,1961,1
1962-01-01,9.29,3.42,11.54,3.50,2.21,1.96,10.41,2.79,3.54,5.17,4.38,7.92,1962-01-01,1,1962,1
1962-02-01,19.12,13.96,12.21,10.58,15.71,10.63,15.71,11.08,13.17,12.62,17.67,22.71,1962-02-01,2,1962,1
1962-03-01,8.21,4.83,9.00,4.83,6.00,2.21,7.96,1.87,4.08,3.92,4.08,5.41,1962-03-01,3,1962,1
1962-04-01,14.33,12.25,11.87,10.37,14.92,11.00,19.79,11.67,14.09,15.46,16.62,23.58,1962-04-01,4,1962,1
1962-05-01,9.62,9.54,3.58,3.33,8.75,3.75,2.25,2.58,1.67,2.37,7.29,3.25,1962-05-01,5,1962,1
1962-06-01,5.88,6.29,8.67,5.21,5.00,4.25,5.91,5.41,4.79,9.25,5.25,10.71,1962-06-01,6,1962,1
1962-07-01,8.67,4.17,6.92,6.71,8.17,5.66,11.17,9.38,8.75,11.12,10.25,17.08,1962-07-01,7,1962,1
1962-08-01,4.58,5.37,6.04,2.29,7.87,3.71,4.46,2.58,4.00,4.79,7.21,7.46,1962-08-01,8,1962,1
1962-09-01,10.00,12.08,10.96,9.25,9.29,7.62,7.41,8.75,7.67,9.62,14.58,11.92,1962-09-01,9,1962,1
1962-10-01,14.58,7.83,19.21,10.08,11.54,8.38,13.29,10.63,8.21,12.92,18.05,18.12,1962-10-01,10,1962,1
1962-11-01,16.88,13.25,16.00,8.96,13.46,11.46,10.46,10.17,10.37,13.21,14.83,15.16,1962-11-01,11,1962,1
1962-12-01,18.38,15.41,11.75,6.79,12.21,8.04,8.42,10.83,5.66,9.08,11.50,11.50,1962-12-01,12,1962,1
1963-01-01,15.59,13.62,19.79,8.38,12.25,10.00,23.45,15.71,13.59,14.37,17.58,34.13,1963-01-01,1,1963,1
1963-02-01,15.41,7.62,24.67,11.42,9.21,8.17,14.04,7.54,7.54,10.08,10.17,17.67,1963-02-01,2,1963,1
1963-03-01,16.75,19.67,17.67,8.87,19.08,15.37,16.21,14.29,11.29,9.21,19.92,19.79,1963-03-01,3,1963,1
1963-04-01,10.54,9.59,12.46,7.33,9.46,9.59,11.79,11.87,9.79,10.71,13.37,18.21,1963-04-01,4,1963,1
1963-05-01,18.79,14.17,13.59,11.63,14.17,11.96,14.46,12.46,12.87,13.96,15.29,21.62,1963-05-01,5,1963,1
1963-06-01,13.37,6.87,12.00,8.50,10.04,9.42,10.92,12.96,11.79,11.04,10.92,13.67,1963-06-01,6,1963,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1976-07-01,8.50,1.75,6.58,2.13,2.75,2.21,5.37,2.04,5.88,4.50,4.96,10.63,1976-07-01,7,1976,1
1976-08-01,13.00,8.38,8.63,5.83,12.92,8.25,13.00,9.42,10.58,11.34,14.21,20.25,1976-08-01,8,1976,1
1976-09-01,11.87,11.00,7.38,6.87,7.75,8.33,10.34,6.46,10.17,9.29,12.75,19.55,1976-09-01,9,1976,1
1976-10-01,10.96,6.71,10.41,4.63,7.58,5.04,5.04,5.54,6.50,3.92,6.79,5.00,1976-10-01,10,1976,1
1976-11-01,13.96,15.67,10.29,6.46,12.79,9.08,10.00,9.67,10.21,11.63,23.09,21.96,1976-11-01,11,1976,1
1976-12-01,13.46,16.42,9.21,4.54,10.75,8.67,10.88,4.83,8.79,5.91,8.83,13.67,1976-12-01,12,1976,1
1977-01-01,20.04,11.92,20.25,9.13,9.29,8.04,10.75,5.88,9.00,9.00,14.88,25.70,1977-01-01,1,1977,1
1977-02-01,11.83,9.71,11.00,4.25,8.58,8.71,6.17,5.66,8.29,7.58,11.71,16.50,1977-02-01,2,1977,1
1977-03-01,8.63,14.83,10.29,3.75,6.63,8.79,5.00,8.12,7.87,6.42,13.54,13.67,1977-03-01,3,1977,1
1977-04-01,21.67,16.00,17.33,13.59,20.83,15.96,25.62,17.62,19.41,20.67,24.37,30.09,1977-04-01,4,1977,1
1977-05-01,6.42,7.12,8.67,3.58,4.58,4.00,6.75,6.13,3.33,4.50,19.21,12.38,1977-05-01,5,1977,1
1977-06-01,7.08,5.25,9.71,2.83,2.21,3.50,5.29,1.42,2.00,0.92,5.21,5.63,1977-06-01,6,1977,1
1977-07-01,15.41,16.29,17.08,6.25,11.83,11.83,12.29,10.58,10.41,7.21,17.37,7.83,1977-07-01,7,1977,1
1977-08-01,4.33,2.96,4.42,2.33,0.96,1.08,4.96,1.87,2.33,2.04,10.50,9.83,1977-08-01,8,1977,1
1977-09-01,17.37,16.33,16.83,8.58,14.46,11.83,15.09,13.92,13.29,13.88,23.29,25.17,1977-09-01,9,1977,1
1977-10-01,16.75,15.34,12.25,9.42,16.38,11.38,18.50,13.92,14.09,14.46,22.34,29.67,1977-10-01,10,1977,1
1977-11-01,16.71,11.54,12.17,4.17,8.54,7.17,11.12,6.46,8.25,6.21,11.04,15.63,1977-11-01,11,1977,1
1977-12-01,13.37,10.92,12.42,2.37,5.79,6.13,8.96,7.38,6.29,5.71,8.54,12.42,1977-12-01,12,1977,1
1978-01-01,8.33,7.12,7.71,3.54,8.50,7.50,14.71,10.00,11.83,10.00,15.09,20.46,1978-01-01,1,1978,1
1978-02-01,27.25,24.21,18.16,17.46,27.54,18.05,20.96,25.04,20.04,17.50,27.71,21.12,1978-02-01,2,1978,1
1978-03-01,15.04,6.21,16.04,7.87,6.42,6.67,12.29,8.00,10.58,9.33,5.41,17.00,1978-03-01,3,1978,1
1978-04-01,3.42,7.58,2.71,1.38,3.46,2.08,2.67,4.75,4.83,1.67,7.33,13.67,1978-04-01,4,1978,1
1978-05-01,10.54,12.21,9.08,5.29,11.00,10.08,11.17,13.75,11.87,11.79,12.87,27.16,1978-05-01,5,1978,1
1978-06-01,10.37,11.42,6.46,6.04,11.25,7.50,6.46,5.96,7.79,5.46,5.50,10.41,1978-06-01,6,1978,1
1978-07-01,12.46,10.63,11.17,6.75,12.92,9.04,12.42,9.62,12.08,8.04,14.04,16.17,1978-07-01,7,1978,1
1978-08-01,19.33,15.09,20.17,8.83,12.62,10.41,9.33,12.33,9.50,9.92,15.75,18.00,1978-08-01,8,1978,1
1978-09-01,8.42,6.13,9.87,5.25,3.21,5.71,7.25,3.50,7.33,6.50,7.62,15.96,1978-09-01,9,1978,1
1978-10-01,9.50,6.83,10.50,3.88,6.13,4.58,4.21,6.50,6.38,6.54,10.63,14.09,1978-10-01,10,1978,1
1978-11-01,13.59,16.75,11.25,7.08,11.04,8.33,8.17,11.29,10.75,11.25,23.13,25.00,1978-11-01,11,1978,1
1978-12-01,21.29,16.29,24.04,12.79,18.21,19.29,21.54,17.21,16.71,17.83,17.75,25.70,1978-12-01,12,1978,1

### Step 14. Downsample the record to a weekly frequency for each location.

In [26]:
data[::7].head(15)

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,date,month,year,day
Yr_Mo_Dy,,,,,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01,1,1961,1
1961-01-08,10.96,9.75,7.62,5.91,9.62,7.29,14.29,7.62,9.25,10.46,16.62,16.46,1961-01-08,1,1961,8
1961-01-15,12.04,9.67,11.75,2.37,7.38,3.13,2.50,6.83,4.75,5.63,7.54,6.75,1961-01-15,1,1961,15
1961-01-22,9.59,5.88,9.92,2.17,6.87,5.50,9.38,7.04,6.34,7.50,10.88,9.92,1961-01-22,1,1961,22
1961-01-29,NaN,23.91,22.29,17.54,24.08,19.70,22.00,20.25,21.46,19.95,27.71,23.38,1961-01-29,1,1961,29
1961-02-05,22.00,16.75,19.70,11.63,14.25,12.04,13.96,15.54,13.37,13.13,19.33,14.67,1961-02-05,2,1961,5
1961-02-12,16.00,16.92,17.25,8.38,11.75,10.37,11.71,14.37,10.37,14.62,25.41,17.04,1961-02-12,2,1961,12
1961-02-19,16.17,15.59,13.70,NaN,13.50,10.96,9.62,11.83,11.58,13.67,29.63,20.54,1961-02-19,2,1961,19
1961-02-26,25.80,21.50,22.42,15.21,23.09,16.88,21.17,17.25,18.46,20.04,22.83,23.87,1961-02-26,2,1961,26
1961-03-05,11.25,17.00,10.41,10.04,15.46,11.17,5.50,10.34,11.71,10.83,11.58,14.00,1961-03-05,3,1961,5
1961-03-12,NaN,13.88,16.38,10.25,14.92,13.67,17.12,13.70,16.29,15.79,20.50,22.54,1961-03-12,3,1961,12
1961-03-19,11.42,9.46,13.46,6.17,6.83,5.79,7.75,6.50,7.04,9.38,11.29,11.34,1961-03-19,3,1961,19
1961-03-26,15.00,11.63,12.58,8.83,13.33,10.21,13.75,10.54,14.37,13.88,15.37,22.50,1961-03-26,3,1961,26
1961-04-02,7.62,4.25,5.09,3.67,4.67,6.25,5.25,4.96,6.83,7.00,10.71,13.00,1961-04-02,4,1961,2
1961-04-09,13.37,11.12,13.08,8.83,11.75,10.21,9.96,9.59,10.54,10.50,10.13,15.34,1961-04-09,4,1961,9

### Step 15. Calculate the mean windspeed for each month in the dataset.  
#### Treat January 1961 and January 1962 as *different* months.
#### (hint: first find a  way to create an identifier unique for each month.)

In [30]:
# call data again but this time don't use parse_dates
wind_data = pd.read_table("wind.data", sep = "\s+") 
print(wind_data.head())

print("---------")

# compute the month number for each day in the dataset, there are in total 216 months
wind_data['months_num'] = (wind_data.iloc[:, 0] - 61) * 12 + wind_data.iloc[:, 1]

print(wind_data.head())

print("----------")

# group the data according to the months_num and get the mean
monthly_data = wind_data.groupby(['months_num']).mean()

print(monthly_data.head())

   Yr  Mo  Dy    RPT    VAL    ROS    KIL    SHA   BIR    DUB    CLA    MUL  \
0  61   1   1  15.04  14.96  13.17   9.29    NaN  9.87  13.67  10.25  10.83
1  61   1   2  14.71    NaN  10.83   6.50  12.62  7.67  11.50  10.04   9.79
2  61   1   3  18.50  16.88  12.33  10.13  11.17  6.17  11.25    NaN   8.50
3  61   1   4  10.58   6.63  11.75   4.58   4.54  2.88   8.63   1.79   5.83
4  61   1   5  13.33  13.25  11.42   6.17  10.71  8.21  11.92   6.54  10.92

     CLO    BEL    MAL
0  12.58  18.50  15.04
1   9.67  17.54  13.83
2   7.67  12.75  12.71
3   5.88   5.46  10.88
4  10.34  12.92  11.83
---------
   Yr  Mo  Dy    RPT    VAL    ROS    KIL    SHA   BIR    DUB    CLA    MUL  \
0  61   1   1  15.04  14.96  13.17   9.29    NaN  9.87  13.67  10.25  10.83
1  61   1   2  14.71    NaN  10.83   6.50  12.62  7.67  11.50  10.04   9.79
2  61   1   3  18.50  16.88  12.33  10.13  11.17  6.17  11.25    NaN   8.50
3  61   1   4  10.58   6.63  11.75   4.58   4.54  2.88   8.63   1.79   5.83
4  61   1   5  13.33  13.25  11.42   6.17  10.71  8.21  11.92   6.54  10.92

     CLO    BEL    MAL  months_num
0  12.58  18.50  15.04           1
1   9.67  17.54  13.83           1
2   7.67  12.75  12.71           1
3   5.88   5.46  10.88           1
4  10.34  12.92  11.83           1
----------
              Yr   Mo    Dy        RPT        VAL        ROS       KIL  \
months_num
1           61.0  1.0  16.0  14.841333  11.988333  13.431613  7.736774
2           61.0  2.0  14.5  16.269286  14.975357  14.441481  9.230741
3           61.0  3.0  16.0  10.890000  11.296452  10.752903  7.284000
4           61.0  4.0  15.5  10.722667   9.427667   9.998000  5.830667
5           61.0  5.0  16.0   9.860968   8.850000  10.818065  5.905333

                  SHA        BIR        DUB        CLA        MUL        CLO  \
months_num
1           11.072759   8.588065  11.184839   9.245333   9.085806  10.107419
2           13.852143  10.937500  11.890714  11.846071  11.821429  12.714286
3           10.509355   8.866774   9.644194   9.829677  10.294138  11.251935
4            8.435000   6.495000   6.925333   7.094667   7.342333   7.237000
5            9.490323   6.574839   7.604000   8.177097   8.039355   8.499355

                  BEL        MAL
months_num
1           13.880968  14.703226
2           18.583214  15.411786
3           16.410968  15.720000
4           11.147333  10.278333
5           11.900323  12.011613

### Step 16. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [31]:
# resample data to 'W' week and use the functions
weekly = data.resample('W').agg(['min','max','mean','std'])

# Signature: data.resample(rule, how=None, axis=0, fill_method=None, closed=None, label=None, convention='start', 
# kind=None, loffset=None, limit=None, base=0)

# Docstring:
# Convenience method for frequency conversion and resampling of regular
# time-series data.

# Parameters
# ----------
# rule : string
#     the offset string or object representing target conversion
# axis : int, optional, default 0
# closed : {'right', 'left'}
#     Which side of bin interval is closed
# label : {'right', 'left'}
#     Which bin edge label to label bucket with
# convention : {'start', 'end', 's', 'e'}
# loffset : timedelta
#     Adjust the resampled time labels
# base : int, default 0
#     For frequencies that evenly subdivide 1 day, the "origin" of the
#     aggregated intervals. For example, for '5min' frequency, base could
#     range from 0 through 4. Defaults to 0


# Examples
# --------

# Start by creating a series with 9 one minute timestamps.

# >>> index = pd.date_range('1/1/2000', periods=9, freq='T')
# >>> series = pd.Series(range(9), index=index)
# >>> series
# 2000-01-01 00:00:00    0
# 2000-01-01 00:01:00    1
# 2000-01-01 00:02:00    2
# 2000-01-01 00:03:00    3
# 2000-01-01 00:04:00    4
# 2000-01-01 00:05:00    5
# 2000-01-01 00:06:00    6
# 2000-01-01 00:07:00    7
# 2000-01-01 00:08:00    8
# Freq: T, dtype: int64

# Downsample the series into 3 minute bins and sum the values
# of the timestamps falling into a bin.

# >>> series.resample('3T').sum()
# 2000-01-01 00:00:00     3
# 2000-01-01 00:03:00    12
# 2000-01-01 00:06:00    21
# Freq: 3T, dtype: int64

# Downsample the series into 3 minute bins as above, but label each
# bin using the right edge instead of the left. Please note that the
# value in the bucket used as the label is not included in the bucket,
# which it labels. For example, in the original series the
# bucket ``2000-01-01 00:03:00`` contains the value 3, but the summed
# value in the resampled bucket with the label``2000-01-01 00:03:00``
# does not include 3 (if it did, the summed value would be 6, not 3).
# To include this value close the right side of the bin interval as
# illustrated in the example below this one.

# >>> series.resample('3T', label='right').sum()
# 2000-01-01 00:03:00     3
# 2000-01-01 00:06:00    12
# 2000-01-01 00:09:00    21
# Freq: 3T, dtype: int64

# Downsample the series into 3 minute bins as above, but close the right
# side of the bin interval.

# >>> series.resample('3T', label='right', closed='right').sum()
# 2000-01-01 00:00:00     0
# 2000-01-01 00:03:00     6
# 2000-01-01 00:06:00    15
# 2000-01-01 00:09:00    15
# Freq: 3T, dtype: int64

# Upsample the series into 30 second bins.

# >>> series.resample('30S').asfreq()[0:5] #select first 5 rows
# 2000-01-01 00:00:00     0
# 2000-01-01 00:00:30   NaN
# 2000-01-01 00:01:00     1
# 2000-01-01 00:01:30   NaN
# 2000-01-01 00:02:00     2
# Freq: 30S, dtype: float64

# Upsample the series into 30 second bins and fill the ``NaN``
# values using the ``pad`` method.

# >>> series.resample('30S').pad()[0:5]
# 2000-01-01 00:00:00    0
# 2000-01-01 00:00:30    0
# 2000-01-01 00:01:00    1
# 2000-01-01 00:01:30    1
# 2000-01-01 00:02:00    2
# Freq: 30S, dtype: int64

# Upsample the series into 30 second bins and fill the
# ``NaN`` values using the ``bfill`` method.

# >>> series.resample('30S').bfill()[0:5]
# 2000-01-01 00:00:00    0
# 2000-01-01 00:00:30    1
# 2000-01-01 00:01:00    1
# 2000-01-01 00:01:30    2
# 2000-01-01 00:02:00    2
# Freq: 30S, dtype: int64

# Pass a custom function via ``apply``

# >>> def custom_resampler(array_like):
# ...     return np.sum(array_like)+5

# >>> series.resample('3T').apply(custom_resampler)
# 2000-01-01 00:00:00     8
# 2000-01-01 00:03:00    17
# 2000-01-01 00:06:00    26
# Freq: 3T, dtype: int64

# slice it for the first 52 weeks and locations
weekly.ix[1:53, "RPT":"MAL"].head(10)

              RPT                                VAL                    \
              min    max       mean       std    min    max       mean
Yr_Mo_Dy
1961-01-08  10.58  18.50  13.541429  2.631321   6.63  16.88  11.486667
1961-01-15   9.04  19.75  12.468571  3.555392   3.54  12.08   8.967143
1961-01-22   4.92  19.83  13.204286  5.337402   3.42  14.37   9.862857
1961-01-29  13.62  25.04  19.880000  4.619061   9.96  23.91  16.141429
1961-02-05  10.58  24.21  16.827143  5.251408   9.46  24.21  15.460000
1961-02-12  16.00  24.54  19.684286  3.587677  11.54  21.42  16.417143
1961-02-19   6.04  22.50  15.130000  5.064609  11.63  20.17  15.091429
1961-02-26   7.79  25.80  15.221429  7.020716   7.08  21.50  13.625714
1961-03-05  10.96  13.33  12.101429  0.997721   8.83  17.00  12.951429
1961-03-12   4.88  14.79   9.376667  3.732263   8.08  16.96  11.578571

                        ROS           ...           CLO              BEL  \
                 std    min    max    ...          mean       std    min
Yr_Mo_Dy                              ...
1961-01-08  3.949525   7.62  12.33    ...      8.497143  1.704941   5.46
1961-01-15  3.148945   7.08  19.50    ...      7.571429  4.084293   5.25
1961-01-22  3.837785   7.29  20.79    ...      8.124286  4.783952   6.50
1961-01-29  5.170224  12.67  25.84    ...     15.640000  3.713368  14.04
1961-02-05  5.187395   9.04  19.70    ...      9.460000  2.839501   9.17
1961-02-12  3.608373  13.67  21.34    ...     14.440000  1.746749  15.21
1961-02-19  3.575012   6.13  19.41    ...     13.542857  2.531361  14.09
1961-02-26  5.147348   6.08  22.42    ...     12.730000  4.920064   9.59
1961-03-05  2.851955   8.17  13.67    ...     12.370000  1.593685  11.58
1961-03-12  3.230167   7.54  16.38    ...     10.458571  3.655113  10.21

                                          MAL
              max       mean       std    min    max       mean       std
Yr_Mo_Dy
1961-01-08  17.54  12.481429  4.349139  10.88  16.46  13.238571  1.773062
1961-01-15  20.71  11.125714  5.552215   5.17  16.92  11.024286  4.692355
1961-01-22  15.92   9.821429  3.626584   6.79  17.96  11.434286  4.237239
1961-01-29  27.71  20.930000  5.210726  17.50  27.63  22.530000  3.874721
1961-02-05  19.33  14.012857  4.210858   7.17  19.25  11.935714  4.336104
1961-02-12  26.38  21.832857  4.063753  17.04  21.84  19.155714  1.828705
1961-02-19  29.63  21.167143  5.910938  10.96  22.58  16.584286  4.685377
1961-02-26  23.21  16.304286  5.091162   6.67  23.87  14.322857  6.182283
1961-03-05  23.45  17.842857  4.332331   8.83  17.54  13.951667  3.021387
1961-03-12  22.71  16.701429  4.358759   5.54  22.54  14.420000  5.769890

[10 rows x 48 columns]